body {
    margin: 0;
    padding: 0;
    background-color: silver;
    font-family: 'Poppins', sans-serif;
}

main {
    width: 900px;
    max-width: 80%;
    margin: 0 auto;
}

section {
    background-color: #fff;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
}

.section-title {
    color: tomato;
}


.player-img {
    height: 60px;
    width: 60px;
    margin-right: 20px;
}

.top-players,
.blogs,
.courses {
    display: grid;
    grid-gap: 30px;


}

.top-players,
.courses {
    grid-template-columns: repeat(3, 1fr);
}

.blogs {
    grid-template-columns: repeat(2, 1fr);

}

.player,
.blog {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* margin-bottom: 20px; */
}

.player-name {}

.thumbnail img {
    width: 100%;
   
}

.thumbnail {
    margin-right: 1em;
}

/* Coureses */


.course-thumbnail img {
    width: 100%;
}

.course-meta {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}

.ratting {
    margin-right: 20%;
}

.filled {
    color: goldenrod;
}

.unfilled {
    color: lightgray;
}

.duration {
    background-color: #ff00004a;
    border-radius: 20px;
    padding: 10px 15px;
}