body {
    margin: 0;
    padding: 0;
}

main {
    width: 1200px;
    max-width: 80%;
    margin: 0 auto;
}

.player-img {
    height: 60px;
    width: 60px;
    margin-right: 20px;
}

.top-players {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;

   
}

.player {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* margin-bottom: 20px; */
}

.player-name {
    
}